* {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ffffff;
  font-family: "Bai Jamjuree", sans-serif;
}
.paper {
  margin-top: 5%;
}
.col-12.info p,
.selector {
  font-size: 14px;
}
.col-12.info h1 {
  font-size: 28px;
  font-weight: bold;
}
.col-12.info h3, .col-12 h1 {
  font-size: 18px;
  font-weight: bold;
}

.col-12.info p a:hover,.col-12 .link a:hover {
  color: #ed2e7c;
}
.row h3 {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: #ffffff;
}
a:hover:focus {
  color: #ed2e7c;
}
a:focus {
  color: #ed2e7c;
}
dd {
  margin-bottom: 0;
  width: 95%;
}
dl {
  display: flex;
  background-color: #333333;
  flex-direction: column;
  width: 80%;

  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}
.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: #333333;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}
.percentage {
  font-size: 0.8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  /* background: repeating-linear-gradient(to right, , #ddd 1px, #fff 1px, #fff 25%); */
  border-left: 4px solid #6e6e6e;
  border-right: 4px solid #6e6e6e;
}
.percentage:after {
  content: "";
  display: block;
  background-color: #ed2e7c;
  width: 50px;
  margin-bottom: 10px;
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.percentage:hover:after,
.percentage:focus:after {
  background-color: #ff8bbb;
}
.percentage--10:after {
  width: -10%;
}

.percentage--9:after {
  width: -9%;
}

.percentage--8:after {
  width: -8%;
}

.percentage--7:after {
  width: -7%;
}

.percentage--6:after {
  width: -6%;
}

.percentage--5:after {
  width: -5%;
}

.percentage--4:after {
  width: -4%;
}

.percentage--3:after {
  width: -3%;
}

.percentage--2:after {
  width: -2%;
}

.percentage--1:after {
  width: -1%;
}

.percentage-0:after {
  width: 0%;
}

.percentage-1:after {
  width: 1%;
}

.percentage-2:after {
  width: 2%;
}

.percentage-3:after {
  width: 3%;
}

.percentage-4:after {
  width: 4%;
}

.percentage-5:after {
  width: 5%;
}

.percentage-6:after {
  width: 6%;
}

.percentage-7:after {
  width: 7%;
}

.percentage-8:after {
  width: 8%;
}

.percentage-9:after {
  width: 9%;
}

.percentage-10:after {
  width: 10%;
}
